.poke-card_detail{
    width: 100%;
    margin: auto;
    width: 80%;
    
    background-color:  white;
    
    margin-top: 100px;
    margin-bottom: 50px


   
}

.border__detail {
    background: #FFFFFF;
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
border-radius: 4px;

    border: 4px solid transparent;
    border-color: #FFFFFF;
}

.poke-card__body__detail {
    padding-top: 1.4em;
}

.poke-card__id__detail{
    text-align: center;
    padding: 20px;
}

.poke-card__stats-container__datail {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
    gap: 25px 5px;
    text-align: center;
    padding: 20px;
    position: static;
    margin-left: 40%;
    margin-right: 40%;
    
}

@media (max-width: 600px) {
    .poke-card__stats-container__datail {
        margin-left: 40%;
        margin-right: 40%;
    }

    .poke-card__sprite__detail {
        width: 60%;
        
       
       
        top: 50px;
        z-index: 1;
    }

}



    progress {
        border-radius: 7px; 
        width: 80%;
        height: 22px;
        margin-left: -11.5%;
        
      }
      progress::-webkit-progress-bar {
        background-color: rgb(235, 235, 235);
        border-radius: 7px;
      }
      progress::-webkit-progress-value {
        background-color: #FCD676
        
        
      }
      
    
      .poke-card__label__detail {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
      }

.poke-card__name__detail {
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
    font-size: 28px;
  }
  
  .poke-card__name__detail:before,
  .poke-card__name__detail:after {
    background-color: rgb(188, 188, 188);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }


  .poke-card__name__detail2 {
    overflow: hidden;
    text-align: left;
    text-indent: 20px;
    text-transform: capitalize;
    font-size: 28px;
    margin-top: 20px;
  }
  
  
  .poke-card__name__detail2:after {
    background-color: rgb(188, 188, 188);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
  }
  
  .poke-card__name__detail:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .poke-card__name__detail:after {
    left: 0.5em;
    margin-right: -50%;
  }

.poke-card__header__detail{
    background-color: #F2F2F2;
    height: 200px;
    position: relative;
    margin: 0px;
    
    
}

.poke-card__sprite__detail{
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
z-index: 1;
}

.poke-card__stats-container2 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    align-items: center;
    gap: 5px 5px;
    text-align: center;
    padding: 20px;
    position: static;
    
    
}

@media screen and (max-width: 600px) {
    .poke-card_detail {
      width: 80%;
     
      
    }

    .poke-card__sprite__detail {
        width: 60%;
        
       
       
        top: 50px;
        z-index: 1;
    }

    .poke-card__stats-container2 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
  }}

    

