.pagination__list {
    display: flex;
    gap: 10px
}

.pagination__item {
  font-size: 2rem;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.pagination__item:hover{
    background: #d6d6d6;
}

.page__active {
    background-color: #DD1A1A;
    color: white;
}

.page__active:hover{
    background: #eb4d4d;
}

.pagination {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 100%;
}

@media (max-width: 600px) {
    .pagination__item{
        font-size: 2rem;
        width: 30px;

    }}